<ion-view title="Beneficios" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <ion-list id="beneficios-list2" class=" ">
            <ion-item class="item-icon-left  " id="beneficios-list-item7">
                <i class="icon ion-android-remove"></i>Controlar peso.</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <div class="">
            <img src="img/gzY7jX2YRGOl2P0mEeei_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="beneficios-markdown2" style="color:#000000;text-align:center;" class=" ">Ir al gimnasio todos los días te ayudará a controlar tu peso. Quemar 500 calorías por día o 3.500 por semana, te ayudará a perder 1 libra por semana.</p>
        <ion-list id="beneficios-list3" class=" ">
            <ion-item class="item-icon-left  " id="beneficios-list-item9">
                <i class="icon ion-android-remove"></i>Salud del corazón</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <div class="">
            <img src="img/CQgS9rOkTGWIscIrYpN9_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="beneficios-markdown3" style="color:#000000;text-align:center;" class=" ">Ejercitarse diariamente fortalece tu corazón y permite bombear más eficientemente con menos esfuerzo. Ejercitarte también baja tu presión arterial, lo cual mide tu fuerza en las paredes de tus arterias cada vez que tu corazón late. Puede bajar
            tus niveles de colesterol y triglicéridos, permitiendo que la sangre fluya mejor a través de tus arterias.</p>
        <ion-list id="beneficios-list5" class=" ">
            <ion-item class="item-icon-left  " id="beneficios-list-item10">
                <i class="icon ion-android-remove"></i>Salud mental</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <div class="">
            <img src="img/eyWfV6wQyiCFwEPkyazD_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="beneficios-markdown5" style="color:#000000;text-align:center;" class=" ">Ir al gimnasio todos los días te pone en contacto con personas regularmente, mejorará tu vida social y cómo te sientes sobre ti mismo. Puedes dormir mejor si te ejercitas todos los días, y más sueño significa más energía y un mejor humor.</p>
    </ion-content>
</ion-view>