<ion-view title="Control" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="control-form3" class="list ">
            <label class="item item-input " id="control-input3">
                <span class="input-label">Fecha</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="control-input9">
                <span class="input-label">Mes</span>
                <input type="month" placeholder="">
            </label>
            <label class="item item-input " id="control-input7">
                <span class="input-label">Semana</span>
                <input type="number" placeholder="Semana">
            </label>
            <label class="item item-input " id="control-input8">
                <span class="input-label">Día</span>
                <input type="number" placeholder="Dia">
            </label>
            <label class="item item-input " id="control-input4">
                <span class="input-label">Edad</span>
                <input type="number" placeholder="Años">
            </label>
            <label class="item item-input " id="control-input5">
                <span class="input-label">Peso</span>
                <input type="number" placeholder="Kg">
            </label>
            <label class="item item-input " id="control-input6">
                <span class="input-label">Estatura</span>
                <input type="number" placeholder="Cm">
            </label>
        </form>
        <button id="control-button1" class=" button button-positive  button-block ">Guardar</button>
    </ion-content>
</ion-view>