<ion-view title="Inicio" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <div class="">
            <img src="img/yxbqEoFpQLSAvGYDSnxB_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <p id="inicio-markdown1" style="color:#000000;" class=" ">Tu compromiso con ponerte en la mejor forma de tu vida depende de tu disposición para adherirte a las pautas de este enfoque de comidas de 3 fases. Los fundamentos son sencillos y fáciles de seguir. Todo lo que tienes que hacer es comprometerte
            a seguir el plan y a darle a tu cuerpo el combustible de alto octanaje que necesita para llegar a la meta.</p>
        <div class="">
            <img src="img/UGK9wXdVQEeSAELuERVL_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>