<ion-view title="Plan Alimenticio" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="planAlimenticio-heading1" style="color:#000000;font-weight:400;text-align:center;" class=" ">Fase 1: el Triturador de Grasa</h2>
        <div class="">
            <img src="img/y4J3xFZQSEGxnKvpZ8Ln_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="planAlimenticio-markdown6" style="color:#000000;text-align:center;" class=" ">La clave de esta fase es la proteína, y bastante. Comer alimentos altos en proteína y bajos en grasa ayudará a quemar grasa sobrante y a construir masa muscular de manera simultánea. La proteína contiene los materiales crudos que se necesitan
            para reconstruir tejido muscular catabolizado (tejido muscular dañado durante una rutina de ejercicio). Este proceso de reconstrucción es lo que aumenta la fuerza, la resistencia y el tamaño. No dependas de una o dos fuentes de proteína en
            esta fase. Hay una amplia variedad de fuentes que te proporcionarán la proteína necesaria para maximizar tus resultados durante esta fase. Las mejores opciones son carnes magras; incluyendo pechuga de pollo, pechuga de pavo, cortes magros
            de carne de res o atún. Otras fuentes de proteína son proteína en polvo (para hacer malteadas de proteína para beber después de ejercitarte), frijoles y lentejas. Cambia y varía tus fuentes de proteína regularmente.</p>
        <div>
            <a href="http://es.slideshare.net/BrunoPino/p90x-plan-de-nutricion-fase-1-destructora-de-grasa" target="_blank">Primea fase</a>
        </div>
        <h2 id="planAlimenticio-heading2" style="color:#000000;font-weight:400;text-align:center;" class=" ">Fase 2: Elevador de Energía</h2>
        <div class="">
            <img src="img/6an6f8pRTgW0Qwr0nglU_blob" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="planAlimenticio-markdown7" style="color:#000000;" class=" ">Durante esta fase, la cantidad de proteína que consumas disminuirá y la cantidad de carbohidratos aumentará mientras mantienes la cantidad de grasa que consumes en la misma proporción que en la fase 1. Esta mezcla de calorías te proporcionará
            la energía necesaria para tener un mejor desempeño y mejores resultados. Los carbohidratos complejos de mayor calidad los puedes obtener de vegetales, granos enteros, frijoles, lentejas y frutas. Una ensalada con carne magra mezclada (como
            pollo o bistec) es una gran comida durante esta fase. Escoge pan que sea 100 por ciento de trigo o granos enteros para un buen sandwich de pavo. Unos huevos, pan tostado de trigo entero y fruta, son un gran desayuno. Utiliza aceite de oliva
            cuando cocines e incluye en algunas comidas algún pescado grasoso, como el salmón, que te proporcionará grasas que son buenas para tu cuerpo.</p>
        <h2 id="planAlimenticio-heading3" style="color:#000000;font-weight:400;text-align:center;" class=" ">Fase 3: el Maximizador de Resistencia</h2>
        <div class="">
            <img src="img/GnbrmSW0RXaYKtm7rYcP_undefined.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="planAlimenticio-markdown8" style="color:#000000;" class=" ">Completa este programa de 90 días, P90X, con una mezcla de calorías que es ahora más pesada en carbohidratos y más ligera en proteína. El porcentaje de grasa queda igual. Aumentar la cantidad de carbohidratos y reducir la cantidad de proteína
            que consumes le proporcionará a tu cuerpo los nutrientes que necesita para maximizar el nivel de resistencia que necesitarás durante la fase final del programa P90X. Enfócate en comer granos enteros, frutas y vegetales durante esta fase y
            estarás en camino a terminar lo que empezaste.</p>
    </ion-content>
</ion-view>