<ion-view title="Rutinas" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="rutinas-heading4" style="color:#000000;font-weight:400;text-align:center;" class=" ">CARDIO PARA PRINCIPIANTES</h3>
        <div>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/wKBYBuqJlk8" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="spacer" style="width: 283px; height: 51px;"></div>
        <h3 id="rutinas-heading5" style="color:#000000;font-weight:400;text-align:center;" class=" ">RUTINA PARA REDUCIR CINTURA Y ELIMINAR ROLLITOS</h3>
        <div>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/A5jJQ_LqGOU" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="spacer" style="width: 283px; height: 51px;"></div>
        <h3 id="rutinas-heading6" style="color:#000000;font-weight:400;text-align:center;" class=" ">EJERCICIOS PARA VIENTRE BAJO Y CINTURA</h3>
        <div>
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/utBFbWO1mI8" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </ion-content>
</ion-view>