<!--<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view view-title="Bebidas">
  <ion-content class="padding">

<div class="list card">

<div class="item">
<h2>Cafe</h2>
<p>Americano</p>
<p>$20.00</p>
</div>  
<br/>
<div class="item">
<h2>Refresco</h2>
<p></p>
<p>$15.00</p>
</div>  

</div>
  </ion-content>
</ion-view>
